:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-red: #d23a1d;
  --color-dark-pink: #ff6863;
  --color-gray: #616161;
  --color-light-gray: #f7f7f7;
  --color-dark-gray: #4d4d4d;
  --color-blue: #5cceed;
  --color-dark-blue: #0365ba;
  --color-yellow: #ffeb60;
  --color-light-yellow: #fff7d1;
  --color-dark-yellow: #ffe02b;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-black: #242424;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --border-radius: 5px;

  /* Animation */
  --ani-duration-sec: 300ms;
}
