@import 'reset.css';
@import 'typography.css';
@import 'root.css';

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1em 1em;
  background-color: var(--color-dark-yellow);
  /* background-color: #ffeb60;
  opacity: 0.9; */
  color: var(--color-light-black);
  z-index: 10;
}

.navbar-dark {
  opacity: 0.8;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo span {
  color: var(--color-light-black);
}

.navbar__logo__icon {
  width: 50px;
  height: 50px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__list {
  padding-left: 20px;
  cursor: pointer;
  transition: all var(--ani-duration-sec) ease-in;
}

.navbar__menu__list:hover {
  color: var(--color-dark-gray);
  transform: scale(1.1);
}

/* Home */
#home {
  padding: 100px 0;
  background-color: var(--color-light-gray);
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid var(--color-dark-white);
}

.home__title {
  margin: 40px 0;
  color: var(--color-dark-gray);
}

.home__description {
  margin-bottom: 40px;
  color: var(--color-gray);
}

.home__contact {
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid var(--color-dark-white);
  letter-spacing: 2px;
  font-size: var(--font-regular);
  transition: all var(--ani-duration-sec) ease-in;
}

.home__contact:hover {
  color: var(--color-dark-gray);
  transform: scale(1.1);
}

/* About */

#about.section {
  position: relative;
  background-color: var(--color-yellow);
}

.section {
  padding: 70px 48px;
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: auto;
  letter-spacing: 1px;
}

.section__container p {
  color: var(--color-gray);
  margin: 40px 0;
}

.about__majors {
  display: flex;
  justify-content: space-around;
}

.major {
  width: 25%;
  padding: 10px;
}

.major i {
  margin-bottom: 40px;
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  background-color: white;
  font-size: 80px;
  transition: all var(--ani-duration-sec) ease-in;
}

.major:first-child i {
  color: var(--color-red);
}

.major:nth-child(2) i {
  color: var(--color-dark-blue);
}

.major:nth-child(3) i {
  color: var(--color-yellow);
}

.major:last-child i {
  color: var(--color-blue);
}

.major i:hover {
  transform: scale(1.1) rotate(-30deg);
}

.major__license {
  display: flex;
  align-items: center;
}

.major__license i {
  font-size: 60px;
  margin-right: 20px;
  color: var(--color-dark-gray);
}

.major__license p {
  letter-spacing: 2px;
  text-align: center;
  margin: 15px 0;
}

.divider__line {
  position: absolute;
  bottom: 0%;
  left: 0%;
  content: '';
  height: 3px;
  width: 100%;
  background-color: var(--color-dark-yellow);
}

/* Skills */

#skills.section {
  background-color: var(--color-yellow);
}

.skills h2 {
  margin-top: 40px;
}

.skill__title {
  color: white;
}

.skillset {
  padding: 25px 0;
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

.skill {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin: 8px 65px;
}

.skill__bar {
  width: 90%;
  height: 2px;
  margin: auto;
  background-color: var(--color-gray);
}

.skill__value {
  height: 2px;
  background-color: var(--color-orange);
}

/* Work */
#work.section {
  background-color: var(--color-white);
}

.work h3 {
  margin-top: 40px;
}

.work__categories {
  margin-top: 40px;
}

.category {
  position: relative;
  padding: 15px 45px;
  margin: 0 5px;
  border-radius: 6px;
  border: 1px solid var(--color-dark-gray);
  color: var(--color-dark-gray);
  font-size: 20px;
}

.category__count {
  display: inline-block;
  position: absolute;
  top: -20%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color: salmon;
  color: white;
  font-size: 16px;
  opacity: 0;
  transition: all var(--ani-duration-sec) ease-in;
}

.category.selected .category__count,
.category:hover .category__count {
  top: 0;
  opacity: 1;
}

.category.selected,
.category:hover {
  border: transparent;
  color: var(--color-light-black);
  background-color: var(--color-yellow);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  opacity: 1;
  transition: all var(--ani-duration-sec) ease-in;
}

.projects.ani-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  width: 33%;
  margin: 2px;
  background-color: var(--color-light-gray);
}

.project__img {
  max-width: 250px;
  height: 200px;
}

.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  bottom: -10%;
  background-color: var(--color-gray);
  opacity: 0;
  transition: all var(--ani-duration-sec) ease-in;
  color: var(--color-light-gray);
}

.project__description:hover {
  opacity: 0.8;
  transform: translateY(-10%);
}

.project__description span {
  padding: 10px 0;
}

.project__description__title::after {
  display: block;
  margin: auto;
  height: 1px;
  width: 80%;
  content: '';
  background-color: var(--color-light-gray);
  transform: translateY(10px);
}

/* Contact */
#contact.section {
  color: var(--color-dark-gray);
  background-color: var(--color-yellow);
}

.section__container h2 {
  font-size: 32px;
}

.section__container h3 {
  font-size: 25px;
}

.section__container h2,
.section__container h3 {
  padding: 10px 0;
  color: var(--color-dark-gray);
}

.link i {
  padding: 10px 0 20px;
  font-size: 45px;
  transition: all var(--ani-duration-sec) ease-in;
}

.link i:hover {
  transform: scale(1.1);
  color: var(--color-dark-gray);
}

/* Arrow */
.arrow {
  position: fixed;
  right: 0.8rem;
  bottom: 0.8rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-dark-white);
  opacity: 0.7;
  opacity: 1;
  transition: all var(--ani-duration-sec) ease-in;
}

.arrow.hidden {
  pointer-events: none;
  opacity: 0;
}

.arrow i {
  color: var(--color-white);
  font-size: 28px;
}
